$TTL 86400
@   IN  SOA ns.kbvsm.com. admin.kbvsm.com. (
        2026032001 ; Serial
        3600       ; Refresh
        1800       ; Retry
        604800     ; Expire
        86400 )    ; Minimum TTL

@       IN  NS      ns.kbvsm.com.
ns      IN  A       127.0.0.1
www     IN  A       127.0.0.1
